<div>
    <h3>These are our celebrities:</h3>

    {{#each listCelebrity}}

        <p> Name: {{name}}</p>
        <p> Occupation: {{occupation}}</p>
        <p> CatchPhrase: {{catchPhrase}}</p>

    {{/each}}






</div>